<p>Total count: <%= @tot_count%></p>
	
<% @products['result'].each do |prod| %>
	<section>
		<%= link_to prod['name'], product_path(prod['id'])%>
		<%= prod['price_in_cents']%>
		<%= prod['primary_category']%>
	</section>
<% end %>